#principal_header{
	position:fixed;
	bottom:0;
	background-color:#f2f2f2;
    width:100%;
    height:5%;
    left:0;
}
#principal_header ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    height:5%;
    padding-top: 0.5%;
    padding-left: 2%;
}
#principal_header ul a{
	display:block;
	cursor:pointer;
	color:black;
	font-family:Lucida Sans;
	opacity:0.8;
}
#principal_header li{
	float:left;
	font-size:0.9em;
	width:10%;
}
#micro{
	position:fixed;
	width:10%;
	height:20%;
	left:45%;
	top:35%;
	border-radius: 100px;
	 box-shadow: 6px 6px 20px 2px #e5e5e5;
	 cursor: pointer;
}
#micro img{
	width:60%;
	height:60%;
	margin-top:18%;
	margin-left:18%;
}
/*
#micro{
	position:fixed;
	width:15%;
	height:25%;
	background-color:black;	
	bottom:5%;
	right:5%;
}
*/